
.avatar {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #999;
}

table ul {
	list-style: none;
	padding: 0;
}

.tag {
	padding: 2px;
	font-weight: bold;
	border: 2px solid #999;
	border-radius: 5px;
	margin-right: 2px;
}

.w-information, .w-warning, .w-error, #controls {
	border-radius: 8px;
}

#controls {
	border: 2px solid #999;
	background-color: #ccc;
	padding: 10px;
}

#username {
	width: 700px;
}

/* reset framework styles*/

header > div > a > div {
	padding: 0;
}